@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --font-family: "Press Start 2P", system-ui;
    --background-color: #1B262C ;
    --primary-color: #3282B8;
    --number-color: #FF0000;
    --button-color: ;
}

body{
    background-color: var(--background-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1{
    font-size: 5em;
}
h2{
    font-size: 2em;
}

h3{
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-inline: 20px;
}

.mensagem{
   font-size: 1.5em;
   margin-top: 20px; 
}

.box{
    font-size: 2em;
    border: 2px solid var(--primary-color);
    display: inline-block;
    padding: 10px;
    margin: 20px;
    color: var(--primary-color);
} 

.btn-jogar{
    padding: 8px 15px;
    background-color: var(--background-color);
    color: var(--number-color);
    border: 0;
    font-family: var(--font-family);
    font-size: 1.23em;
    margin-top: 10px;
}